* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.block {
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 8px;
    cursor: pointer;
    display: block;
    border: 0;
    border-radius: 5px;
    transition: all 300ms ease;
}

.btn:hover {
    opacity: 0.5;
}

.add {
    background-color: rgb(18, 143, 1);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

h2 small {
    font-size: 0.5em;
}

button {
    margin: 20px 0;
    text-align: center;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 40%;
}

.responsive-table .col-3 {
    flex-basis: 20%;
}

.responsive-table .col-4 {
    flex-basis: 10%;
}

.responsive-table .col-5 {
    flex-basis: 10%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }

    .responsive-table li {
        display: block;
    }

    .responsive-table .col {
        flex-basis: 100%;
    }

    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }

    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.btn-delete {
    display: inline-block;
    padding: 3px;
    border: none;
    background: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms ease;
    text-align: center;
}

.btn-delete:hover {
    opacity: 0.8;
}

.btn-delete svg {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.btn-edit {
    display: inline-block;
    padding: 3px;
    border: none;
    background: rgb(0, 81, 255);
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms ease;
    text-align: center;
}

.btn-edit:hover {
    opacity: 0.8;
}

.btn-edit svg {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.status {
    padding: 5px;
    border: 1px solid #6c7a89;
    border-radius: 5px;
    text-transform: capitalize;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.modal {
    padding: 15px;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    min-width: 400px;
    background: #e4e2e2;
    box-shadow: 0 0 10px 0 #c0c0c0;
    border-radius: 5px;
    z-index: 10;
}

.modal-header {
    display: flex;
    justify-content: end;
    align-items: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-btn {
    padding: 8px;
    cursor: pointer;
    display: block;
    border: 0;
    transition: all 300ms ease;
}

.modal-btn:hover {
    opacity: 0.5;
}

.add {
    background-color: rgb(18, 143, 1);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.cencel {
    background-color: rgb(179, 2, 2);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.close-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

input[type="text"],
textarea {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    color: #333;
    transition: border-bottom-color 0.3s ease;
    width: 100%;
}

input[type="text"]:focus,
textarea:focus {
    border-bottom-color: #007bff;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 150px;
}

.select-wrapper::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 1;
    color: #333;
}

.select-wrapper select {
    appearance: none;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.select-wrapper:hover {
    background-color: #f8f9fa;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.form-wrapper {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    border-radius: 5px;
    opacity: 0.8;
}

.form-footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
